body {
    margin: 0;
    padding: 0;
    background-color: #F0F2F6;
}

#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #363F43; */
}

.navbar-brand {
    position: absolute;
    left: 50vw;
    transform: translate(-50px, 0px);
}



.container-body {
    position: absolute;
    height: calc(100% - 100px);
    width: calc(100% - 250px);
    padding: 15px;
    left: 250px;
}

.chart-container {
    position: absolute;
    left: 285px;
    top: 85px;
    width: calc(100% - 300px);
    height: calc(100% - 100px);
    background-color: white;
}

.navbar>.container {
    padding: 5px !important;
}

.navbar-default {
    height: 60px;
    padding: 0px !important;
}

.container-fluid {
    height: calc(100vh - 100px) !important;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.landingpage-container {
    height: 100vh;
    width: 100vw;
    background-color: #005393;
    position: absolute;
    left: 0;
    top: 0;
}

.landingpage-container_bg {
    background: url('/img/bg.jpg');
    background: cover; 
    width: 100vw; 
    height: 100vh;
    background-size: cover;    
    position: absolute;
    left: 0;
    top: 0;
    filter: opacity(.6)
}

.landingpage-container_text {
    left: 0;
    top: 0;
    position: absolute;
    width: 50vw;
    height: 90vh;
}
.landingpage-container_text h2,h5 {
    color: #efefef;
    padding-left: 10vw;
}

.landingpage-container_text h2 {
    padding-top: 40vh;
    font-size: 42px;
}

.landingpage-container_text h5 {
    font-size: 32px;
}

.landingpage-container_form {
    left: 50vw;
    top: 0;
    position: absolute;
    width: 50vw;
    height: 90vh;
    padding: 200px;
    padding-top: 20vh;
    
}

#form-register {
    background-color: #efefef;
    width: 300px;
    height: 400px;
    padding: 0 15px 15px;
}

.tab-content {
    padding-top: 25px;
}
