.tag-menu {
    margin-bottom: 3px !important;
}
.btn.choose-tag {
    margin-bottom: 5px;
    margin-right: 10px;
}

.css-1aya2g8 * {
    border: none;
}

.replay.error {
    transform:  translate(0, -20px)
}

.space {
    margin-right: 10px;
    margin-bottom: 10px;
}
.add-discussion-label {
    position: absolute;
    bottom: 0px;
    color: red;
}
