/* .fixed-action-btn {
    position: absolute;
    bottom: 40px;
    right: 25px;
}

.red {
    background-color: #F44336 !important;
}

.btn-floating {
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 56px;
    font-weight: 300;
    color: #fff !important;
    display: block;
    height: 56px !important;
    width: 56px !important;
    text-align: center;
} */